@page "/"
@inject IRepository repository
@inject SweetAlertService sweetAlertService

<PageTitle>NeoSmart</PageTitle>

<AuthorizeView Roles="SuperAdmin,Admin,Manager,Leader,Trainer,Employee">
    <Authorized>
        <TrainingGrid></TrainingGrid>
    </Authorized>
    <NotAuthorized>
        <Landing />
    </NotAuthorized>
</AuthorizeView>

@if (_source != null)
{
    @* <div class="row mb-3">
        <CarouselView Images="@_source" />
    </div> *@
}


@code {

    private List<string>? _source = null;

    public List<Slider>? Sliders { get; set; } = null;

    protected async override Task OnInitializedAsync()
    {
        await LoadSlidersAsync();
    }

    private async Task LoadSlidersAsync()
    {
        var responseHttp = await repository.GetAsync<List<Slider>>("/api/Sliders/combo");
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        Sliders = responseHttp.Response;
        _source = Sliders!.Select(x => x.Image).ToList();
    }
}