@page "/"

<PageTitle>NeoSmart</PageTitle>

<AuthorizeView Roles="Admin">
    <Authorized>
        <p>Estas autenticado y autorizado, @context.User.Identity?.Name</p>
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <div class="card widget-inline">
                        <div class="card-body">
                            <PartialPanelBuscar></PartialPanelBuscar>
                        </div>
                    </div>
                </div>
                <!-- end col-->

                <div class="col-3">
                    <PartialUsuarios></PartialUsuarios>
                </div>

                <div class="col-3">
                    <div class="card widget-inline">
                        <div class="card-body p-0">
                            <PartialMensajes></PartialMensajes>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="card widget-inline">
                    <div class="card-body">
                        <PartialCalendar></PartialCalendar>
                    </div>
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <p>No estas autorizado</p>
    </NotAuthorized>
</AuthorizeView>


