@page "/PartialUsuarios"

<div class="card widget-inline">
    <div class="card-body p-0">
        <div class="card shadow-none m-0 border-start">
            <div class="card-body">
                <h5 class="card-title">Usuarios</h5>
                <div class="row g-0">
                    <div class="col-sm-6 col-lg-6">
                        <div class="card-body row text-center">
                            <div class="col-sm-3 col-lg-3">
                                <span id="boot-icon" class="bi bi-person-circle align-middle" style="font-size: 2rem; color: rgb(243, 156, 18);"></span>
                            </div>
                            <div class="col-sm-9 col-lg-9">
                                <h4><span>3</span></h4>
                                <p class="text-muted mb-0">Admin</p>
                            </div>
                        </div>
                        <div class="card-body row text-center">
                            <div class="col-sm-3 col-lg-3">
                                <span id="boot-icon" class="bi bi-person-gear align-middle" style="font-size: 2rem; color: rgb(150, 150, 90);"></span>
                            </div>

                            <div class="col-sm-9 col-lg-9">
                                <h4><span>2</span></h4>
                                <p class="text-muted mb-0">Managers</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-6">

                        <div class="card-body row text-center">
                            <div class="col-sm-3 col-lg-3">
                                <span id="boot-icon" class="bi bi-person-badge-fill align-middle" style="font-size: 2rem; color: rgb(50, 156, 18);"></span>
                            </div>

                            <div class="col-sm-9 col-lg-9">
                                <h4><span>3</span></h4>
                                <p class="text-muted mb-0">Líderes</p>
                            </div>
                        </div>
                        <div class="card-body row text-center">
                            <div class="col-sm-3 col-lg-3">
                                <span id="boot-icon" class="bi bi-person-check-fill align-middle" style="font-size: 2rem; color: rgb(50, 50, 220);"></span>
                            </div>
                            <div class="col-sm-9 col-lg-9">
                                <h4><span>24</span></h4>
                                <p class="text-muted  mb-0">Trabajador</p>
                            </div>
                        </div>
                    </div>
                </div> <!-- end row -->
            </div>
        </div>
    </div>
</div> <!-- end card-box-->

@code {

}
