@page "/PartialPanelBuscar"



<div class="row g-0">
    <div class="col-md-4 p-2">
        <h5 class="card-title align-middle">Panel de control</h5>
    </div>
    <div class="col-md-3 p-2">
        <input type="date" name="fechaInicio" class="form-control" id="txtFechaInicio" value="">
    </div>
    <div class="col-md-1 p-2">
        <label class="control-label align-middle">Hasta</label>
    </div>
    <div class="col-md-3 p-2">
        <input type="date" name="fechaFin" class="form-control" id="txtFechaFin" value="">
    </div>
    <div class="col-md-1 p-2">
        <button class="btn btn-primary" type="submit"><i class="bi bi-arrow-clockwise"></i></button>
    </div>
</div>


<div class="row g-0">
    <div class="col-sm-2 col-lg-2">
        <div class="card shadow-none m-1 border-start">
            <div class="card-body row text-center">
                <div class="col-sm-2 col-lg-2">
                    <span id="boot-icon" class="bi bi-clipboard-fill align-middle" style="font-size: 1rem; color: rgb(0, 0, 255);"></span>
                </div>
                <div class="col-sm-10 col-lg-10">
                    <h4><span>10</span></h4>
                    <p class="text-muted mb-0">Capacitaciones</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2 col-lg-2">
        <div class="card shadow-none m-1 border-start">
            <div class="card-body row text-center">
                <div class="col-sm-3 col-lg-3">
                    <span id="boot-icon" class="bi bi-clock align-middle" style="font-size: 2rem; color: rgb(243, 156, 18);"></span>
                </div>
                <div class="col-sm-9 col-lg-9">
                    <h4><span>20</span></h4>
                    <p class="text-muted font-6 mb-0">Temas</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-2 col-lg-2">
        <div class="card shadow-none m-1">
            <div class="card-body row text-center">
                <div class="col-sm-3 col-lg-3">
                    <span id="boot-icon" class="bi bi-calendar2-check-fill align-middle" style="font-size: 2rem; color: rgb(0, 128, 55);"></span>
                </div>
                <div class="col-sm-9 col-lg-9">
                    <h4><span>25</span></h4>
                    <p class="text-muted font-6 mb-0">Formaciones</p>
                </div>
            </div>

        </div>
    </div>
    <div class="col-sm-2 col-lg-2">
        <div class="card shadow-none m-1 border-start">
            <div class="card-body row text-center">
                <div class="col-sm-3 col-lg-3">
                    <span id="boot-icon" class="bi bi-bell-fill align-middle" style="font-size: 2rem; color: rgb(255, 0, 0);"></span>
                </div>
                <div class="col-sm-9 col-lg-9">
                    <h4><span>3</span></h4>
                    <p class="text-muted font-6 mb-0">Solicitudes</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-2 col-lg-2">
        <div class="card shadow-none m-1 border-start">
            <div class="card-body row text-center">
                <div class="col-sm-3 col-lg-3">
                    <span id="boot-icon" class="bi bi-book align-middle" style="font-size: 2rem; color: rgb(254, 0, 161);"></span>
                </div>
                <div class="col-sm-9 col-lg-9">
                    <h4><span>5</span></h4>
                    <p class="text-muted font-6 mb-0">Aprobadas</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2 col-lg-2">
        <div class="card shadow-none m-1 border-start">
            <div class="card-body row text-center">
                <div class="col-sm-3 col-lg-3">
                    <span id="boot-icon" class="bi bi-journal-text align-middle" style="font-size: 2rem; color: rgb(165, 42, 42);"></span>
                </div>
                <div class="col-sm-9 col-lg-9">
                    <h4><span>25</span></h4>
                    <p class="text-muted font-6 mb-0">Mediciones</p>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
