@page "/PartialMensajes"

<div class="row g-0">
    <div class="col-sm-12 col-lg-12">
        <div class="card shadow-none m-0 border-start">
            <div class="card-body">
                <h5 class="card-title">Mensajes</h5>
                <div class="row m-2">
                    <div class="col-sm-2 col-lg-2">
                        <span id="boot-icon" class="bi bi-envelope align-middle" style="font-size: 2rem; color: rgb(255, 0, 0);"></span>
                    </div>
                    <div class="col-sm-10 col-lg-10">
                        <p><span>Solicitud de pendiente!</span></p>
                        <p class="text-muted font-6 mb-0"># 25365</p>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-sm-2 col-lg-2">
                        <span id="boot-icon" class="bi bi-envelope align-middle" style="font-size: 2rem; color: rgb(0, 128, 55);"></span>
                    </div>
                    <div class="col-sm-10 col-lg-10">
                        <p><span>Capacitación programada!</span></p>
                        <p class="text-muted font-6 mb-0"># 23002</p>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-sm-2 col-lg-2">
                        <span id="boot-icon" class="bi bi-envelope align-middle" style="font-size: 2rem; color: rgb(0, 128, 55);"></span>
                    </div>
                    <div class="col-sm-10 col-lg-10">
                        <p><span>Capacitación programada!</span></p>
                        <p class="text-muted font-6 mb-0"># 23625</p>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-sm-2 col-lg-2">
                        <span id="boot-icon" class="bi bi-envelope align-middle" style="font-size: 2rem; color: rgb(0, 128, 55);"></span>
                    </div>
                    <div class="col-sm-10 col-lg-10">
                        <p><span>Capacitación programada!</span></p>
                        <p class="text-muted font-6 mb-0"># 23203</p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


@code {

}
