@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row">
            <AuthLinks />
            @* <a href="#" target="_blank">Mi cuenta</a> *@
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
