<div class="multiple-selector">
    <div class="align-content-center">
        <label class="mb-2">Disponible</label>
    <ul class="selectable-ul">
        @foreach (var item in NonSelected)
        {
            <li @onclick=@(() => Select(item))>@item.Value</li>
        }
    </ul>
    </div>
    <div class="selector-multiple-botones">
        <div class="mx-2 my-2">
            <p><button type="button" @onclick="SelectAll">@addAllText</button></p>
        </div>
        <div class="mx-2 my-2">
            <p><button type="button" @onclick="UnselectAll">@removeAllText</button></p>
        </div>
    </div>
    <div class="align-content-center ">
        <label class="mb-2">Seleccionado</label>
    <ul class="selectable-ul">
        @foreach (var item in Selected)
        {
            <li @onclick=@(() => Unselect(item))>@item.Value</li>
        }
    </ul>
    </div>
</div>

@code {
    private string addAllText = ">>";
    private string removeAllText = "<<";

    [Parameter]
    public List<MultipleSelectorModel> NonSelected { get; set; } = new();

    [Parameter]
    public List<MultipleSelectorModel> Selected { get; set; } = new();

    private void Select(MultipleSelectorModel item)
    {
        NonSelected.Remove(item);
        Selected.Add(item);
    }

    private void Unselect(MultipleSelectorModel item)
    {
        Selected.Remove(item);
        NonSelected.Add(item);
    }

    private void SelectAll()
    {
        Selected.AddRange(NonSelected);
        NonSelected.Clear();
    }

    private void UnselectAll()
    {
        NonSelected.AddRange(Selected);
        Selected.Clear();
    }
}
