@page "/trainings"
@attribute [Authorize(Roles = "Administrador")]
@inject IRepository repository
@inject SweetAlertService sweetAlertService

<div class="row mb-3">
    <div class="col-7">
        <button class="btn btn-outline-primary float-start me-2" @onclick=@(() => ShowModalAsync())><i class="oi oi-plus"></i> Adicionar</button>
        <h3>Capacitaciones</h3>
    </div>
    <div class="col-5">
        <input style="max-width: 300px;" type="text" class="form-control float-start" id="titulo" placeholder="Buscar capacitación..." @bind-value="Filter" />
        <button type="button" class="btn btn-outline-primary float-end" @onclick="ApplyFilterAsync"><i class="oi oi-layers" /> Filtrar</button>
        <button type="button" class="btn btn-outline-danger float-end" @onclick="CleanFilterAsync"><i class="oi oi-ban" /> Limpiar</button>
    </div>
</div>

<div class="card widget-inline">
    <div class="card-body">
        <GenericList MyList="trainings">
            <NoRecords>
                <p>Aun no hay Capacitaciones registradas.</p>
            </NoRecords>
            <Body>
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Capacitación</th>
                            <th>Cargo</th>
                            <th>Temas</th>
                            <th>Habilitado</th>
                            <th style="width:170px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var training in trainings!)
                        {
                            <tr>
                                <td>@training.Cod</td>
                                <td>@training.Description</td>
                                <td>@training.Occupation!.Description</td>
                                <td>@training.TrainingTopicsNumber</td>
                                <td><InputCheckbox @bind-Value=training.Status disabled="true"></InputCheckbox></td>
                                <td>
                                    @* <a href="/trainings/edit/@training.Id" class="btn btn-warning btn-sm"><i class="oi oi-pencil" /> Editar</a> *@
                                    <button class="btn btn-warning btn-sm" @onclick=@(() => ShowModalAsync(training.Id, true))><i class="oi oi-pencil" /> Editar</button>
                                    <button class="btn btn-danger btn-sm" @onclick=@(() => DeleteAsync(training))>Borrar</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <Pagination CurrentPage="currentPage"
                            TotalPages="totalPages"
                            SelectedPage="SelectedPageAsync" />
            </Body>
        </GenericList>

    </div>
</div>


@code {
    private List<Training>? trainings;
    private int currentPage = 1;
    private int totalPages;

    [CascadingParameter]
    IModalService Modal { get; set; } = default!;

    [Parameter]
    [SupplyParameterFromQuery]
    public string Page { get; set; } = string.Empty;

    [Parameter]
    [SupplyParameterFromQuery]
    public string Filter { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await LoadAsync();
    }

    private async Task ShowModalAsync(int id = 0, bool isEdit = false)
    {
        IModalReference modalReference;

        if (!isEdit)
        {
            modalReference = Modal.Show<TrainingCreate>(string.Empty);
        }
        else
        {
            modalReference = Modal.Show<TrainingEdit>(string.Empty, new ModalParameters().Add("TrainingId", id));
        }

        var result = await modalReference.Result;
        if (result.Confirmed)
        {
            await LoadAsync();
        }
    }

    private async Task SelectedPageAsync(int page)
    {
        currentPage = page;
        await LoadAsync(page);
    }

    private async Task LoadAsync(int page = 1)
    {
        if (!string.IsNullOrWhiteSpace(Page))
        {
            page = Convert.ToInt32(Page);
        }

        var ok = await LoadListAsync(page);
        if (ok)
        {
            await LoadPagesAsync();
        }
    }

    private async Task<bool> LoadPagesAsync()
    {
        var url = string.Empty;
        if (string.IsNullOrEmpty(Filter))
        {
            url = $"api/trainings/totalPages";
        }
        else
        {
            url = $"api/trainings/totalPages?filter={Filter}";
        }

        var response = await repository.GetAsync<int>(url);
        if (response.Error)
        {
            var message = await response.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return false;
        }
        totalPages = response.Response;
        return true;
    }

    private async Task<bool> LoadListAsync(int page)
    {
        var url = string.Empty;
        if (string.IsNullOrEmpty(Filter))
        {
            url = $"api/trainings?page={page}";
        }
        else
        {
            url = $"api/trainings?page={page}&filter={Filter}";
        }

        var response = await repository.GetAsync<List<Training>>(url);
        if (response.Error)
        {
            var message = await response.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return false;
        }

        trainings = response.Response;
        return true;
    }

    private async Task CleanFilterAsync()
    {
        Filter = string.Empty;
        await ApplyFilterAsync();
    }

    private async Task ApplyFilterAsync()
    {
        int page = 1;
        await LoadAsync(page);
        await SelectedPageAsync(page);
    }

    private async Task DeleteAsync(Training training)
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = $"¿Esta seguro que quieres borrar el capacitación: {training.Description}?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true
            });

        var confirm = string.IsNullOrEmpty(result.Value);
        if (confirm)
        {
            return;
        }

        var response = await repository.DeleteAsync($"api/trainings/{training.Id}");
        if (response.Error)
        {
            var message = await response.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        await LoadAsync();

        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000
            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Registro borrado con éxito.");
    }
}
