@page "/occupations/edit/{OccupationId:int}"
@attribute [Authorize(Roles = "Administrador")]
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService sweetAlertService

<h3>Editar Cargo</h3>

@if (occupation is null)
{
    <Loading />
}
else
{
    <OccupationForm @ref="occupationForm" Occupation="occupation" OnValidSubmit="SaveAsync" ReturnAction="Return" />
}

@code {
    private Occupation? occupation;
    private OccupationForm? occupationForm;

    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; } = default!;

    [Parameter]
    public int OccupationId { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        var response = await repository.GetAsync<Occupation>($"/api/occupations/{OccupationId}");
        if (response.Error)
        {
            if (response.HttpResponseMessage.StatusCode == HttpStatusCode.NotFound)
            {
                Return();
            }
            var message = await response.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        occupation = response.Response;
    }

    private async Task SaveAsync()
    {
        occupation!.Process = null;
        var response = await repository.PutAsync($"/api/occupations", occupation);
        if (response.Error)
        {
            var message = await response.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        await BlazoredModal.CloseAsync(ModalResult.Ok());
        Return();

        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000
            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Cambios guardados con éxito.");
    }

    private void Return()
    {
        occupationForm!.FormPostedSuccessfully = true;
        navigationManager.NavigateTo($"/occupations");
    }

}