<section class="container py-5 mt-5 mt-md-4 mb-md-3 mb-lg-4 mb-xl-5">
    <div class="row align-items-center align-items-lg-stretch mb-2 mb-sm-3">

        <!-- Parallax gfx -->
        <div class="col-xl-7 col-md-6 d-flex justify-content-center justify-content-md-end overflow-hidden order-md-2 mt-n5 mt-sm-n4 mt-md-0">
            <div class="position-relative mt-5" style="max-width: 660px;">
                <div class="bg-gradient-primary position-absolute start-0 bottom-0 w-100 rounded-3 opacity-15" style="height: 95%;"></div>
                <div class="parallax zindex-2" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden; pointer-events: none;">
                    <div class="parallax-layer zindex-2 mb-n3" data-depth="0.1" style="transform: translate3d(-4.9px, 2.8px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;">
                        <img src="https://silicon.createx.studio/assets/img/landing/app-showcase-2/hero/layer01.png" alt="Dispositivo">
                    </div>
                    <div class="parallax-layer" data-depth="-0.22" style="transform: translate3d(10.9px, -6.1px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;">
                        <img src="https://silicon.createx.studio/assets/img/landing/app-showcase-2/hero/layer02.png" alt="Burbuja">
                    </div>
                    <div class="parallax-layer" data-depth="0.3" style="transform: translate3d(-14.8px, 8.4px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;">
                        <img src="https://silicon.createx.studio/assets/img/landing/app-showcase-2/hero/layer03.png" alt="Burbuja">
                    </div>
                </div>
            </div>
        </div>

        <!-- Text -->
        <div class="col-xl-5 col-md-6 d-flex flex-column order-md-1">
            <div class="text-center text-md-start pt-4 pt-sm-5 pt-xl-0 mt-2 mt-sm-0 mt-lg-auto">
                <h1 class="display-3 mb-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Gestione sus capacitaciones de forma eficaz con NeoSmart</font></font></h1>
                <p class="fs-lg mb-0 d-md-none d-xl-block"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Odio venenatis a, non egetas ut ultrices ultrices quis orci ipsum eu tellus tempor sed amet mauris pellentesque ut vitae.</font></font></p>
                <div class="d-flex flex-column flex-sm-row justify-content-center justify-content-md-start pt-2 mt-4 mt-md-5">
                    <a href="#" class="btn btn-dark btn-lg px-3 py-2 me-sm-3 me-lg-4 mb-3">
                        <img src="https://silicon.createx.studio/assets/img/market/appstore-light.svg" class="light-mode-img" width="124" alt="Tienda de aplicaciones">
                        <img src="https://silicon.createx.studio/assets/img/market/appstore-dark.svg" class="dark-mode-img" width="124" alt="Tienda de aplicaciones">
                    </a>
                    <a href="#" class="btn btn-dark btn-lg px-3 py-2 mb-3">
                        <img src="https://silicon.createx.studio/assets/img/market/googleplay-light.svg" class="light-mode-img" width="139" alt="Google Play">
                        <img src="https://silicon.createx.studio/assets/img/market/googleplay-dark.svg" class="dark-mode-img" width="139" alt="Google Play">
                    </a>
                </div>
            </div>
            <div class="d-sm-flex d-md-none d-lg-flex justify-content-center justify-content-md-start mt-auto pt-3 pt-md-0">
                <div class="d-flex align-items-center w-100 pe-xxl-2 mb-2 mb-md-0">
                    <div class="h1 mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">23k+</font></font></div>
                    <div class="ps-2 ms-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">descargas de la aplicación</font></font></div>
                </div>
                <div class="vr d-none d-sm-block text-border my-2 mx-4"></div>
                <div class="d-flex align-items-center w-100 ps-xxl-2">
                    <div class="h1 mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">13b+</font></font></div>
                    <div class="ps-2 ms-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">volumen de operaciones por cada día</font></font></div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {

}
