@page "/Inscriptions/ModifyTemporalInscription/{TemporalInscriptionId:int}"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

@if (loading)
{
    <Loading />
}
else
{
    <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                    <a class="btn btn-outline-success float-start me-1" href="/"><i class="oi oi-arrow-thick-left" /> Regresar</a>
                    <h4 class="float-start">@trainingCalendar!.Training!.Description</h4>
                    </div>
                </div>
            </div>
            <div class="card-body m-2">
            <CarouselView Images="@trainingCalendar!.Training!.MainImages" />
            <div class="row">
                <div class="col-6">
                    <div class="mb-3">
                        <label>Nombre:</label>
                        <div>
                            <b>@trainingCalendar!.Training!.Description</b>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label>Descripción:</label>
                        <div>
                            <b>@trainingCalendar!.Training!.Description</b>
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <div class="row">
                            <label>Temas:</label>
                            @foreach (var topic in topics!)
                            {
                                <b>@topic</b>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <EditForm Model="temporalInscriptionDTO" OnValidSubmit="UpdateCartAsync">
                        <DataAnnotationsValidator />
                        <div class="mb-3">
                            <label>Comentarios:</label>
                            <div>
                                <InputTextArea class="form-control" @bind-Value="@temporalInscriptionDTO!.Remarks" />
                                <ValidationMessage For="@(() => temporalInscriptionDTO.Remarks)" />
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit"><i class="oi oi-check" /> Actualizar Carro</button>
                    </EditForm>
                </div>
            </div>
            
        </div>
    </div>
}

@code {
    private List<string>? topics;
    private List<string>? images;
    private bool loading = true;
    private TrainingSession? trainingCalendar;
    private bool isAuthenticated;
    private TemporalInscriptionDTO? temporalInscriptionDTO;

    [Parameter]
    public int TemporalInscriptionId { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await LoadTemporalInscriptionAsync();
    }

    private async Task LoadTemporalInscriptionAsync()
    {
        loading = true;
        var httpResponse = await repository.GetAsync<TrainingSessionInscriptionTemporal>($"/api/temporalInscriptions/{TemporalInscriptionId}");

        if (httpResponse.Error)
        {
            loading = false;
            var message = await httpResponse.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        var temporalInscription = httpResponse.Response!;
        temporalInscriptionDTO = new TemporalInscriptionDTO
            {
                Id = temporalInscription.Id,
                trainingCalendarId = temporalInscription.TrainingSessionId,
                Remarks = temporalInscription.Remarks!
            };
        trainingCalendar = temporalInscription.TrainingSession;
        topics = trainingCalendar!.Training!.TrainingTopics!.Select(x => x.Topic.Description).ToList();
        images = trainingCalendar!.Training!.TrainingImages!.Select(x => x.Image).ToList();
        loading = false;
    }

    public async Task UpdateCartAsync()
    {
        var httpResponse = await repository.PutAsync("/api/temporalInscriptions/full", temporalInscriptionDTO);
        if (httpResponse.Error)
        {
            var message = await httpResponse.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        var toast2 = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000
            });
        await toast2.FireAsync(icon: SweetAlertIcon.Success, message: "Capacitación modificada en el carrito.");
        navigationManager.NavigateTo("/");
    }

}
